<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web Automation Suite" verbose="1">

    <!-- Run everything in ONE test to allow dependencies -->
    <test name="Complete Automation Flow" preserve-order="true">
        <classes>
            <!-- Signup MUST come first -->
<!--            <class name="tests.SignupTest">-->
<!--                <methods>-->
<!--                    <include name="testSuccessfulSignup"/>-->
<!--                </methods>-->
<!--            </class>-->

            <!-- Login depends on signup credentials -->
            <class name="tests.LoginTest">
                <methods>
                    <include name="testSuccessLogin"/>
                    <include name="testInvalidLogin"/>
                    <include name="testInvalidUsername"/>
                    <include name="testEmptyCredentials"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>